  .jumbotron {
    background-color: lightblue;
    color: black;
    margin-top: 50px;
    }

  footer{
    padding: 25px 10px 0px 10px;  
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: lightblue;
    color: black;
        }


.btn {
    	background-color: lightgreen;
    	width: 100%
    }
.card-hotel{
    	flex: 1 200px;
    	padding: 2px 5px 25px 5px
        
    }
.footer-adress-icon{
        padding-right: 15px;
    }

.footer-adress-icon-1{
    padding-right: 15px;
}

.btn-primary{
    width: 10%

}

.form-group{
    padding-top: 10px
}

.container{
    padding-bottom: 25px
}