  .jumbotron {
    background-color: lightblue;
    color: black;
    margin-top: 50px;
    }

  footer{
    padding: 25px 10px 0px 10px;  
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: lightblue;
        }


.btn {
    	background-color: lightgreen;
    	width: 100%
    }
.card-hotel{
    	flex: 1 150px;
    	padding: 2px 5px 2px 5px
    }
.footer-adress-icon{
        padding-right: 15px;
    }

.footer-adress-icon-1{
    padding-right: 15px;
}

   
